.body-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

body,
html,
#root,
#tabstrip {
  width: 100%;
  height: 100%;
}

.k-tabstrip,
.k-child-animation-container,
div[role="tabpanel"] {
  width: 100%;
  height: 100%;
  padding: 0;
}

.k-animation-container {
  width: 100%;
  height: calc(100% - 5px);
}

.k-content {
  width: calc(100% - 48px);
}

div[role="tabpanel"] {
  padding: 0;
}

.side-bar {
  width: 200px;
  margin: 5px;
}

.tab-bar {
  flex: 1;
}

.map {
  height: 100%;
  width: 100%;
}

div[role="report"] {
  width: 100%;
}

.report-grid {
  display: flex;
  flex-direction: row;
  width: 100%;
}
