.body-form {
  display: flex;
  flex-direction: row;
  flex: 1;
}

body,
html,
#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.k-tabstrip,
.k-child-animation-container,
div[role="tabpanel"] {
  width: 100%;
  height: 100%;
  padding: 0;
}

.k-animation-container {
  width: 100%;
  height: calc(100% - 5px);
}

.k-content {
  width: calc(100% - 48px);
}

.tab-bar {
  flex: 1;
  overflow: auto;
}

.map {
  height: 100%;
  width: 100%;
}

.k-grid {
  width: 100%;
  height: 100%;
}
