.body-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

body,
html,
#root,
.k-tabstrip,
.k-content,
#tabstrip,
.k-animation-container,
.k-child-animation-container {
  width: 100%;
  height: 100%;
}

.k-content,
div[role="tabpanel"] {
  width: 97%;
  height: 97%;
  padding: 0;
}

.side-bar {
  width: 200px;
  margin: 5px;
}

.tab-bar {
  flex: 1;
}

.map {
  height: 100%;
  width: 100%;
  background-color: aquamarine;
}
