#site-top-bar {
  flex-grow: 0;
  height: 40px;
}

.location-span {
  display: inline-block;
  text-align: right;
  width: 65px;
}

.io-span {
  display: inline-block;
}

.site-config {
  overflow: auto;
  width: 100%;
  height: 100%;
}
