.login {
  background-color: gainsboro;
  margin: 0px;
  display: flex;
  flex-direction: row;
  height: 90%;
}

/* Login form */

.login-form {
  background-color: white;
  width: 100%;
  text-align: left;
  padding-top: 8%;
  padding-left: 5%;
  flex: 1;
}

.login-button {
  border-radius: 16px;
  width: 120px;
  height: 28px;
  color: black;
  background-color: white;
  margin-top: 30px;
}

/* Intro form */

.intro-form {
  background-color: dodgerblue;
  width: 30%;
  margin-left: 8%;
  padding: 5px;
  float: left;
  margin-left: 5%;
  padding-top: 2%;
}

.name {
  font-size: 2.2rem;
  text-align: left;
  color: white;
  margin-left: 20px;
}
.name2 {
  font-size: 0.55rem;
  color: white;
  margin-top: -5px;
  margin-left: 20px;
}

.intro-middle {
  margin-top: 20%;
  font-size: 0.75rem;
  color: white;
  margin-left: 8%;
}

.intro-url {
  margin-top: 12%;
  margin-bottom: 45%;
  font-size: 0.9rem;
  color: aliceblue;
  margin-left: 20px;
}

.intro-bottom {
  display: inline-block;
  margin: 2%;
  margin-left: 5%;
}
