#login-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.login {
  flex: 20;
  background-color: gainsboro;
  margin: 0px;
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* Login form */

.login-form {
  background-color: white;
  width: 100%;
  text-align: left;
  padding-top: 8%;
  padding-left: 5%;
  flex: 2;
}

/* Intro form */

.intro-top {
  display: inline-block;
  flex: 1;
  color: white;
  text-align: left;
  margin-left: 20px;
}

.intro-middle {
  flex: 1;
  font-size: 0.75rem;
  color: white;
  margin-left: 8%;
}
