#app {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-en {
  font-family: "Helvetica Neue", Metric, system-ui, -apple-system, sans-serif,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", sans-serif, "IRAN Sans", "B Nazanin";
}

.body-fa {
  font-family: "IRAN Sans", "B Nazanin", "Helvetica Neue", Metric, system-ui,
    -apple-system, sans-serif, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#logout-button {
  vertical-align: super;
  font-size: 8px;
}

.language-button {
  width: 16px;
  margin: 4px;
  cursor: pointer;
}

.grid-column,
th,
td {
  text-align: center;
}

.list-div {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
}

.list-top-bar {
  flex-grow: 0;
  height: 40px;
}

.list-grid {
  flex: 1;
  width: 100%;
  height: 100%;
}

.k-grid th,
.k-grid td {
  margin: 1px;
  padding: 1px;
  text-align: center;
}

.k-tabstrip,
.k-panelbar,
.k-grid {
  font: inherit;
}

.action-button {
  margin: 5;
}
